/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent: #ff0070;
  --secondary-color: #ff0070;
  --heading-color: #ff0070;
  --text-color: #f1b2ce;
  --link-shadow: #ff0070;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --bg-color: #000028;
}
